@use 'mixins/media-query.scss' as mq;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq.media-query(sm) {
    align-items: start;
  }
}

.income {
  color: var(--color-success);
}

.outcome {
  color: var(--mat-sys-error);
}

.zero {
  color: var(--mat-sys-secondary);
}
