@use 'mixins/media-query.scss' as mq;

.transactions {
  display: grid;
  gap: 12px;
  margin: 24px 0;
}

.actions {
  display: flex;
  justify-content: center;
  margin: 24px 0;

  @include mq.media-query(sm) {
    justify-content: flex-end;
  }
}
