.toolbar {
  display: flex;

  .toolbar-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .toolbar-logo {
      text-decoration: none;
      color: inherit;
    }
  }
}
