<div class="actions">
  <app-search [(searchTerm)]="searchTerm" />

  <a
    matButton="filled"
    routerLink="create"
  >
    Adicionar transação
  </a>
</div>

@if (this.isLoading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
} @else {
  <app-transactions-container
    class="transactions"
    [transactions]="transactions()"
  >
    <ng-template
      #item
      let-item="item"
    >
      <app-transaction-item
        [transaction]="item"
        (edit)="edit($event)"
        (remove)="remove($event)"
      />
    </ng-template>
    <ng-template #noItems>
      <app-no-transactions />
    </ng-template>
  </app-transactions-container>
}
