<div class="actions">
  <app-search />

  <a
    matButton="filled"
    routerLink="create"
  >
    Adicionar transação
  </a>
</div>

<app-transactions-container
  class="transactions"
  [transactions]="items()"
>
  <ng-template
    #item
    let-item="item"
  >
    <app-transaction-item
      [transaction]="item"
      (edit)="edit($event)"
      (remove)="remove($event)"
    />
  </ng-template>
  <ng-template #noItems>
    <app-no-transactions />
  </ng-template>
</app-transactions-container>
