@use 'mixins/media-query.scss' as mq;

.transactions {
  display: grid;
  gap: 12px;
  margin: 24px 0;
}

.actions {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 24px 0;

  @include mq.media-query(sm) {
    flex-direction: row;
    justify-content: space-between;
  }
}
